  /**************************\
  Basic Modal Styles
  \**************************/
  [micromodal] {
    display: none;
  }

  [micromodal].is-open {
    display: block;
  }

  [modal__overlay] {
    position: fixed;
  }

  [modal__container] {
    background-color: #fff;
    padding: 30px;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }

  /**************************\
  Modal Animation Style
  \**************************/
  @keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
  }

  @keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
  }



  [micromodal][aria-hidden="false"] [modal__overlay] {
    animation: mmfadeIn .5s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  [micromodal][aria-hidden="false"] [modal__container] {
    animation: mmslideIn .5s cubic-bezier(0, 0, .2, 1);
  }

  [micromodal][aria-hidden="true"] [modal__overlay] {
    animation: mmfadeOut .5s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  [micromodal][aria-hidden="true"] [modal__container] {
    animation: mmslideOut .5s cubic-bezier(0, 0, .2, 1);
  }

  [micromodal] [modal__container],
  [micromodal] [modal__overlay] {
    will-change: transform;
  }